*,
*::after,
*::before{
    box-sizing: border-box;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Press Start 2P', cursive;

}
a{
    cursor: pointer;
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
.header{
    padding: 30px 0;
    background-color: #ffcccc;
    border: #131313 3px solid;
}
.header__inner{
    display: flex;
    justify-content: space-between;
}
.header__title{
    font-size: 50px;
    color: #131313;
    text-transform: uppercase; 
}
.header__info{
    display: flex;
    gap: 25px;
}
.guide{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-right: #131313 3px solid;
    border-left: #131313 3px solid;
    border-bottom: #131313 3px solid;
}
.guide__content-box{
    background-color: #F4A460;
    color: #D2691E;
    border: 2px #131313 solid;
    padding: 50px 0 50px 50px;
}
.guide__content-title{
    padding: 15px 0;
    font-size: 22px;
}
.guide__content-link{
    font-size: 22px;
    color: #3c3c3c;
    padding-left: 10px;
    text-decoration: underline;
}
.guide__content-item + .guide__content-item{
    padding-top: 15px;
}
.guide__content-title{
    font-size: 32px;
    color: #131313;
}
.guide__content-icon{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.guide__content-wrap{
    display: flex;
    justify-content: space-between;
}
.guide__content-icon{
    position: relative;
    right: 100px;
    bottom: 50px;
}
.guide__content-name{
    color: #131313;
    font-size: 14px;
    position: relative;
    right: 100px;
    bottom: 30px;
}
.footer{
    background-color: #ffcccc;
}
.footer__inner{
    display: flex;
    padding: 30px 30px;
    justify-content: space-between;
    align-items: center;
}
.footer__title{
    font-size: 50px;
    color: #131313;
    text-transform: uppercase;
}
.footer__number{
    color: #131313;
}
.footer__socials-list{
    display: flex;
    align-items: center;
}
.footer__form{
    display: flex;
    flex-direction: column;
}
.footer__form-input,
.footer__form-textarea{
    border: 2px #000 solid;
    background-color: #fff;
    color: #000;
    width: 300px;
    height: 30px;
}
.footer__form-textarea{
    width: 400px;
    height: 100px;
    resize: none;
}
.footer__form-btn{
    border: 3px #fff solid;
    color: #fff;
    background-color: #131313;
    width: 330px;
    height: 50px;
    cursor: pointer;
}
